body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial Nova, sans-serif;
	font-size: 16pt;
	background-color: #fff;
}

header{
	z-index: 2;
	position: fixed;
	background-image: linear-gradient(to right, #8e0000, #385723);
	padding: 20px;
	width: calc(100% - 0%);
	top: 0;
	height: 80px;
}

.top_left img {
	width: 67px;
	height: 67px;
	padding-left: 20px;
	padding-top: 5px;
	float: left;
}

.banner_lines {
	float: left;
}

.banner_lines h3, h4, h6{
	color: #fff;
	margin: 0;
	margin-left: 30px;
	text-transform: uppercase;
}

.top_right img {
	width: 20px;
	height: 20px;
	padding-right: 80px;
	padding-top: 5px;
	float: right;
	color: #000;
}